rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{documents=**} {
      allow read, write: if true;
    }

    // 関数まとめ
    function isAnyAuthenticated() {
      return request.auth != null;
    }
  }
}
